
api/obj/Debug/net8.0/api.AssemblyInfo.cs
API/obj/Debug/net8.0/api.AssemblyInfo.cs
API/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/api.csproj.nuget.dgspec.json
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/project.assets.json
api/obj/project.nuget.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.assets.cache
/.idea
api/api.csproj
*.json
*.dll
/api/bin
/api/obj
/api/Properties
/api/bin
/api/obj
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/project.nuget.cache
api/obj/project.assets.json
api/obj/Debug/net8.0/refint/api.dll
api/obj/Debug/net8.0/ref/api.dll
api/obj/Debug/net8.0/apphost.exe
api/obj/Debug/net8.0/api.sourcelink.json
api/obj/Debug/net8.0/api.pdb
api/obj/Debug/net8.0/api.genruntimeconfig.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.dll
api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
api/obj/Debug/net8.0/api.csproj.CoreCompileInputs.cache
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/api.csproj.nuget.g.props
api/obj/api.csproj.nuget.dgspec.json
api/Models/Usuario.cs
api/bin/Debug/net8.0/api.pdb
api/bin/Debug/net8.0/api.exe
api/bin/Debug/net8.0/api.dll
api/.idea/.idea.api/.idea/copilot/chatSessions/00000000000.xd
api/.idea/.idea.api/.idea/copilot/chatSessions/blobs/version
api/.idea/.idea.api/.idea/copilot/chatSessions/xd.lck
api/.idea/.idea.api/.idea/encodings.xml
api/.idea/.idea.api/.idea/indexLayout.xml
api/.idea/.idea.api/.idea/inspectionProfiles/Project_Default.xml
api/.idea/.idea.api/.idea/vcs.xml
