
api/obj/Debug/net8.0/api.AssemblyInfo.cs
API/obj/Debug/net8.0/api.AssemblyInfo.cs
API/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/api.csproj.nuget.dgspec.json
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/project.assets.json
api/obj/project.nuget.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.assets.cache
/.idea
api/api.csproj
*.json
*.dll
/api/bin
/api/obj
/api/Properties
/api/bin
/api/obj
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.assets.cache
