
api/obj/Debug/net8.0/api.AssemblyInfo.cs
API/obj/Debug/net8.0/api.AssemblyInfo.cs
API/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/api.csproj.nuget.dgspec.json
api/obj/api.csproj.nuget.g.props
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/project.assets.json
api/obj/project.nuget.cache
